.about_container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.about_container img {
    max-width: 100%;
    max-height: 100%;
}

.about_container p {
    font-size: 25px;
    margin-bottom: 1em;
}

h1 {
    text-align: center;
}

h2 {
    font-family: "Inter", verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    font-size: 25px;
    text-align: center;
    margin-bottom: -60px;
    color: #fff;
    background-color: #000;
}

p {
    font-family: "Inter", verdana, sans-serif;
    font-weight:normal;
    font-size: 25px;
    margin-top: auto;
}

hr {
    color: rgb(255, 255, 255)
}

.container_find {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .about_container {
        margin-top: 10px;
        display: flex;
        align-items: flex-start;
    }
    
    .about_container img {
        max-width: 100%;
        max-height: 100%;
    }

    .about_container .about_elements {
        flex: 1;
        padding: 20px;
    }
}