
h1 {
    text-align: left;
    font-weight: 500;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 20px;
    margin-bottom: 40px;
}

.form__input {
    margin-bottom: 10px;
    display: block;
}

#checkbox_pay {
    padding-bottom: 10px;
    margin-left: -165px;
    background-color: #000;
    
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

label {
    font-size: 15px;
    color: #757070;
}

.discount {
    margin-bottom: 10px;
    display: block;
}

legend {
    text-transform: uppercase;
    padding-bottom: 10px;
}


input[type=submit] {
    background-color: #757070;
    color: #fff;
    width: fit-content;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
}

input {
    width: 350px;
    padding: 12px;
    margin-bottom: 15px;
}

.cart img {
    width: 216px;
    height: 218px;
}

.price {
    text-align: right;
}

.blue {
    color: #757070;
}

.cta_bag {
    margin-top: 50px;
    margin-left: 40px;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    width: 300px;
    border-radius: 5px;
    padding: 5px;
}

table {
    padding-top: 20px;
    font-size: 20px;
}

.right {
    text-align: right;
    padding-left: 10em;
}

td{
    padding-bottom: 10px;
}

@media (min-width: 750px) {
    section {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 40px;
    }
}