
h1 {
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    width: 250px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 20px;
    margin-bottom: 40px;
}

.Form_container {
    order: 2
}

.sidebar {
    order: 1;
    padding-bottom: 20px;
}

.form__input {
    margin-bottom: 10px;
    display: block;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
}

[type=radio]:checked {
    accent-color: #898686;
}

form {
    display: flex;
    flex-wrap: wrap;
}

label {
    font-size: 15px;
    color: #757070;
}

.discount {
    margin-bottom: 10px;
    display: block;
}

legend {
    text-transform: uppercase;
    padding-bottom: 10px;
}

.payment_img {
    max-width: 45px;
    margin-bottom: 15px;
}

.klarna {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    margin-left: -130px;
}

.card {
    display: flex;
    justify-content: left;
    margin-left: -130px;
}

.card [type=radio] {
    margin-right: 85px;
}

.klarna [type=radio] {
    margin-right: 130px;
}

input[type=submit] {
    background-color: #757070;
    color: #fff;
    width: fit-content;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #000;
}

fieldset {
    display: flex;
    flex-flow: column wrap;
    width: 200px;
    margin-bottom: 20px;
}

.total {
    margin: 15px;
}

input {
    width: 260px;
    padding: 12px;
    margin: 15px;
}

.price {
    font-size: 18px;
    font-weight: 400;
    margin-top: 12px;
}

.blue {
    color: #757070;
    font-weight: 350;
    font-size: 15px;
}

.cta_bag {
    margin-top: 30px;
    text-align: center;
    background-color: #515050;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    width: 80%;
    border: none;
    border-radius: 999px;
    padding: 10px;
    margin-left: 40px;
}

.cta_bag:hover {
    background-color: #000;
}

.wrapper {
    position: relative;
}

.quantity_bubble {
    position: absolute;
    background-color: #757070;
    color: #fff;
    border-radius: 1.75em;
    min-width: 1.75em;
    height: 1.75em;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.75em;
    font-size: 15px;  
    font-weight: 500;
    top: -16px;
    left: 60px;
}

.cart_img {
    display: flex;
    flex-wrap: wrap;
    max-width: 70px;
    border: 1px solid #aeadad;
    border-radius: 8px;
    padding: 5px;
    margin-left: 10px;
}

.cart_item {
     padding-left: 8px;
}

.line {
    display: flex;
    justify-content: left;
    gap: 15px;
}

.info_line {
    display: flex;
    justify-content: left;
    margin-top: -60px;
    margin-left: 109px;
    gap: 70px;
}

.cart_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
    padding: 30px 0px 30px 0px;
    margin-top: 30px;
    width: 348px;
}

table {
    padding-top: 20px;
    font-size: 20px;
}

.right {
    text-align: right;
    padding-left: 10em;
}

td {
    padding-bottom: 10px;
}

hr {
    /* margin-bottom: 40px; */
    color: #c8c6c6;
    width: 310px;
}

hr::before {
    margin: 60px;
}

.remove_item {
    color: #fff;
    background-color: #717171;
    border: 0px;
    border-radius: 7px;
    padding: 5px;
    font-weight: 300;
    font-size: 12px;
    margin: 10px 0px 10px 260px;
}

.remove_item:hover {
    background-color: #000;
}

.discount {
    display: flex;
    justify-content: center;
}

.discount input[type=text] {
    width: 200px;
}

.disc {
    position: absolute;
    margin-left: -195px;
    margin-top: -10px;
}

.apply_cta {
    margin-left: -10px;
}

.price_total {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.price_to {
    font-size: 20px;
    font-weight: 500;
}

.message {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

a {
    color: #000;
    text-decoration: none;
}

a:active {
    color: #000;
    text-decoration: none;
}

@media (min-width: 600px) {
    input {
        width: 350px;
        padding: 12px;
        margin: 15px;
    }

    .cart_info {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 600px;
        padding: 30px 30px 0px 30px;
        width: 400px;
    }

    h1 {
        text-align: left;
        font-weight: 400;
        font-size: 20px;
        width: 330px;
    }

    .price {
        font-size: 19px;
        font-weight: 400;
    }

    .blue {
        color: #757070;
        font-weight: 350;
        font-size: 15px;
        margin-left: -4px;
    }

    .line {
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;
        gap: 10px;
    }

    .info_line {
        display: flex;
        justify-content: space-between;
        width: 280px;
        margin-top: -50px;
    }

    .cart_item {
        width: auto;
    }

    hr {
        margin-bottom: 30px;
        color: #c8c6c6;
        width: auto;
    }

    .quantity_bubble {
        position: absolute;
        background-color: #757070;
        color: #fff;
        border-radius: 1.75em;
        min-width: 1.75em;
        height: 1.75em;
        box-sizing: border-box;
        text-align: center;
        line-height: 1.75em;
        font-size: 17px;  
        font-weight: 500;
        top: -16px;
        left: 60px;
    }

    input {
        width: 350px;
        padding: 12px;
        margin: 15px;
    }

    #checkbox_pay {
        padding-bottom: 10px;
        margin-left: -165px;
        background-color: #000;
    }

    .remove_item {
        margin: 10px 0px 10px 330px;
    }

    .klarna {
        justify-content:space-between;
        margin-left: 0px;
    }
    
    .card {
        margin-left: 0px;
    }
    
     .card [type=radio] {
        margin-right: 143px;
    }

    .cta_bag {
        margin-left: 50px;
    }

    .discount {
        display: flex;
        justify-content: center;
    }
    
    .discount input[type=text] {
        width: 280px;
    }
    
    .disc {
        position: absolute;
        margin-left: -275px;
        margin-top: -10px;
    }

    .price_total {
        display: flex;
        justify-content: center;
        gap: 200px;
    }
}

@media (min-width: 750px) {
    section {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 40px;
    }
}

@media (min-width: 926px) {
    .Form_container {
        order: 1
    }
    
    .sidebar {
        order: 2;
        padding-bottom: 20px;
    }
}

@media (min-width: 1000px) {
    .cart_info {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 600px;
        padding: 30px 30px 0px 30px;
        width: 450px;
    }

    h1 {
        text-align: left;
        font-weight: 400;
        font-size: 20px;
        width: 350px;
    }

    .info_line {
        display: flex;
        justify-content: space-between;
        width: 290px;
        margin-top: -50px;
    }

}

@media (min-width: 1016px) {
    .sidebar {
        width: auto;
        float: right;
        background-color: #f5f5f5;
      }
}