.welcome {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.welcome img{
    max-width: 100%;
    max-height: 100%;
}

h1{
    font-family: "Inter", verdana, sans-serif;
    font-weight: 500;
    position: absolute;
    top: 20%;
    bottom: 50%;
    left: 6%;
    max-width: 160px;
    font-size: 20px;
    text-align: left;
    color: #fff;
} 

.cta {
    color: #535252;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    border-style: solid;
    font-size: 16px;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    border-width: 7px;
    border-color: #fff;
    top: 39%;
    left: 6%;
}

.cta:hover {
    color: #fff;
    background-color:#535252;
    border-radius: 4px;
    border-style: solid;
    border-color: #535252;
    text-decoration: none;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

#new_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.new_arrivals {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.new_arrivals img {
    margin-top: 10px;
    margin-right: 10px;
    max-height: 300px;
}

.categorys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.category_1, .category_2, .category_3 {
    display: flex;
    justify-content: center;
}

.cta_cat {
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #757070;
    background-color: #fff;
    border-radius: 5px;
    border-style: solid;
    border-color: #fff;
    border-width: 10px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
}

@media (min-width: 600px) {
    h1{
        font-family: "Inter", verdana, sans-serif;
        font-weight: 500;
        position: absolute;
        top: 28%;
        bottom: 50%;
        left: 6%;
        max-width: 190px;
        font-size: 25px;
        text-align: left;
        color: #fff;
    } 

    .cta {
        position: absolute;
        top: 55%;
        left: 5%;
    }

    .button_shop{
        position: absolute;
        margin-left: 100px;
        margin-top: 270px;
        font-size: 40px;
        outline-style: solid;
        outline-offset: 7px;
        outline-width: 2px;
        border-radius: 1px;
        text-transform: uppercase;
        background-color: transparent;
        color: #fff;
    }

}

@media (min-width: 800px){
    h1{
        font-family: "Inter", verdana, sans-serif;
        font-weight: 500;
        position: absolute;
        top: 30%;
        bottom: 50%;
        left: 6%;
        max-width: 270px;
        font-size: 35px;
        text-align: left;
        color: #fff;
    } 

    .cta {
        position: absolute;
        top: 64%;
        left: 7%;
    }
}

@media (min-width: 1300px){
    h1{
        font-family: "Inter", verdana, sans-serif;
        font-weight: 500;
        position: absolute;
        top: 33%;
        bottom: 50%;
        left: 6%;
        max-width: 350px;
        font-size: 45px;
        text-align: left;
        color: #fff;
    } 

    .cta {
        font-size: 30px;
        position: absolute;
        border-radius: 5px;
        top: 79%;
        left: 6%;
    }
}