.new_arrivals {
    background-image: url(../images/new.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    min-width: 360px;
    height: 50vh;
    padding-top: 40px;
    justify-content:center;
    align-items:center;
    color: #fff;
    text-transform: uppercase;
}

h1 {
    margin-top: -190px;
    background-color: #000;
    font-size: 30px;
}

h2, a {
    font-family: "Inter", verdana, sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: black;
    text-decoration: none;

}

p {
    font-family: "Inter", verdana, sans-serif;
    font-weight: normal;
    font-size: 25px;
    margin-top: auto;
}


#jacket_container {
    display: grid;
    grid-template-columns: -1/1;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: center;
    justify-items: center;
}

#jacket_container img {
    grid-column: -1/1;
    max-width: 300px;
}
 
#jacket_container h2,
#jacket_container p {
    grid-column: 1;
    margin-bottom: 10px;
}

#jacket_container img {
    max-height: 300px;
}

@media (min-width: 600px) {
    #jacket_container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    h3 {
        font-size: 30px;
    }

    a, p {
        font-size: 20px;
        margin: 5px;
        text-align: initial;
    }

    .new_arrivals {
        height: 70vh;
    }
}

@media (min-width: 926px) {
    #jacket_container {
        grid-template-columns: repeat(3,minmax(0,1fr));
        align-items: center;
    }
    .new_arrivals {
        height: 90vh;
    }
}

@media (min-width: 1422px) {
    #jacket_container {
        grid-template-columns: repeat(4,minmax(0,1fr));
    }
}