.sale {
    background-image: url(../images/sale.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 360px;
    height: 70vh;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

h1 {
    background-color: #000;
    padding: 0px 8px 0px 8px;
    margin-left: 70px;
}

h2, a {
    font-family: "Inter", verdana, sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: black;
    text-decoration: none;

}

#sale_container {
    display: grid;
    grid-template-columns: -1/1;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: center;
    justify-items: center;
}

#sale_container img {
    grid-column: -1/1;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
}
 
#sale_container h2,
#sale_container p {
    grid-column: 1;
    margin-bottom: 10px;
}

.sale_price {
    text-decoration:line-through;
    padding-right: 30px;
    font-size: 19px;
    font-style: italic;
}

.red {
    color:  #A81900;
    font-size: 22px;
    font-weight: 500;
}

@media (min-width: 600px) {
    #sale_container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    h3 {
        font-size: 30px;
    }

    a, p {
        font-size: 20px;
        margin: 5px;
        text-align: initial;
    }
    #sale_container img {
        max-height: 350px;
    }
}

@media (min-width: 800px) {
    #sale_container img {
        max-height: 400px;
    }
}


@media (min-width: 926px) {
    #sale_container {
        grid-template-columns: repeat(3,minmax(0,1fr));
        align-items: center;
    }

    #sale_container img {
        max-height: 350px;
    }
}

@media (min-width: 1200px) {
    #sale_container img {
        max-height: 400px;
    }
}


@media (min-width: 1422px) {
    #sale_container {
        grid-template-columns: repeat(4,minmax(0,1fr));
    }

    #sale_container img {
        max-height: 400px;
    }
}