@font-face { 
    font-family: "Inter";
    src: url("../Fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

body {
font-family: "Inter", Verdana, sans-serif;
color: #000;
}

header {
    align-items:center;
    justify-content:center;
    padding-bottom: 15px;
    background-color: #fff;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: auto;
    max-width: 100%;
    
}

.site-header {
    position: relative;
    z-index: 1;
    top: -10px;
    width: 100%;
    box-shadow: 50px 0px 80px -30px rgba(0, 0, 0, 0.5)
}

nav {
    background: #fff;
    position: absolute;
    z-index: 1;
    text-align: left;
}

.hamburger-icon img, #menu-checkbox {
    margin-top: 50px;
}

.active {
    text-decoration: underline;
}

nav, #menu-checkbox {
    display:none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

nav li {
    display: block;
}

nav a {
    display: block;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
}

.main-image {
    padding-top: 50px;
    display:flex;
    flex-direction: column;
}

.image-text {
    position: absolute;
    z-index: 1;
    margin: 0px auto;
    left: 40px;
    right: 50%;
    top: 27%;
    text-align: left;
    width: 40%;
    font-size: 20px;
    font-weight: normal;
    color: #fff;   
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.button_shop{
    position: absolute;
    margin-left: 40px;
    margin-top: 180px;
    font-size: small;
    outline-style: solid;
    outline-offset: 5px;
    outline-width: 2px;
    border-radius: 1px;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
}

.button_shop:hover{
    background-color: #fff;
    color: #464646;
    transition: 0.7s;
}


.new_item {
    display:flex;
   flex-wrap: wrap;
   padding: 0 10px;
}

.new_arrivals {
    flex: 50%;
    padding: 0 10px;
    text-align: center;   
}

.new_arrivals img {
    margin-top: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

hr {
    color: rgb(255, 255, 255)
}

.categorys {
    display:flex;
   flex-wrap: wrap;
   padding: 10px 10px;
}

.category_img {
    flex: 50%;
    padding: 10px 10px;
    text-align: center;
}

.category_img img {
    margin-top: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.button_hiking {
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    color: #000;
    display: none;
}

.button_camping {
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    color: #000;
    display: none;
}

.button_ski {
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    color: #000;
    display: none;
}

footer {
    background-color: #282828;
    color: #fff;;
    width: 100%;

}

.footer_menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-size: smaller;
}

h3 {
    font-family: "Inter", verdana, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.copyright {
    padding-bottom: 15px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.logo_white {
    padding: 20px;
    display: block;
    text-align: center;
}

.foot_a{
    display: flex;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
    text-transform: none;
    margin: 5px;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

.payment {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 20px;
}

.follow {
    margin-bottom: 30px;
}

.follow img{
    margin: 10px;
}

@media (min-width: 600px) {
    nav { 
    display: block;  
    position: static;
    text-align: center;
    }

    .hamburger-icon {
        display: none;
    }

    nav li {
        display: inline-block;
        font-size: 60px;
    }

    nav a:hover{
        text-decoration: underline;
        font-weight: bold;
    }

    .main-image {
        padding: none;
    }

    .image-text {
        margin-top: 30px;
        font-size: 40px;
    }

    .footer_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20 px;
        color: #fff;
    }
    
    h3 {
        font-size: 30px;
    }

    a, p {
        font-size: 20px;
        margin: 5px;
        text-align: initial;
    }

    .button_shop{
        position: absolute;
        margin-left: 100px;
        margin-top: 270px;
        font-size: 40px;
        outline-style: solid;
        outline-offset: 7px;
        outline-width: 2px;
        border-radius: 1px;
        text-transform: uppercase;
        background-color: transparent;
        color: #fff;
    }

}

@media (min-width: 800px){
    .image-text {
        margin-top: -100px;
        font-size: 35px;
    }

    .button_shop{
        position: absolute;
        margin-left: 60px;
        margin-top: 300px;
        font-size: 25px;
        outline-style: solid;
        outline-offset: 7px;
        outline-width: 2px;
        border-radius: 1px;
        text-transform: uppercase;
        background-color: transparent;
        color: #fff;
    }
}

